html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* flexbox stuff */
html, body {
	height: 100%;
}
body {
	overflow-x: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* fonts */
body {
	font-family: Menlo, Courier, monospace;
    text-align: left;
    line-height: 1.7;
    margin: 0;
    background-color: white;
}
img {
	width: 100%;
}
h1 {
	font-size: 70px;
	font-family: Menlo, Courier, monospace;
	font-weight: bold;
	text-align: center;
	display: block;
	padding: 50px;
}
h1 a {
	color: black;
	text-decoration: none;
}
h1 a:hover {
	text-decoration: none;
}
h2 {
	color: #D100D0;
	font-size: 20px;
	padding-bottom: 30px;
}
h3 {
	font-size: 18px;
	color: black;
	font-weight: bold;
	padding-bottom: 15px;
	text-transform: uppercase;
}
p {	
	font-size: 15px;
	color: black;
	line-height: 1.7;
	padding-bottom: 20px;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}
.blog-link .blog-post:hover{
	background-color: #F8F8FF;
	border: 20px solid #F8F8FF;
}
.blog-link:hover{
	text-decoration: none;
}
i {
	font-style: italic;
}
.space {
	padding-right: 20px;
}
.date {
	font-style: italic;
}
.container {
	width: 85%;
	max-width: 1300px;
	font-size: 16px;
	padding: 15px;
	margin: 0 auto;
}
.content {
	width: 75%;
	margin: 0;
	display: inline-block;
	float: left;
	text-align: left;
}
.blog-post {
	background-color: #fffaf0;
	border: 20px solid #fffaf0;
	border-radius: 7px;
}
.blog-post ul li {
	font-size: 15px;
	color: black;
	line-height: 1.7;
	padding-left: 30px;
}
.nav {
	width: 15%;
	margin: 0;
	display: inline-block;
	float: right;
}
.important {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
}
h2.posts {
	padding: 0 0 30px 20px;
}
.about img {
	width: 80%;
}
.footer {
    clear: both;
    width: 100%;
    padding: 100px 0 50px 0;
}
.footer ul li {
	display: inline-block;
	padding-right: 10px;
}
.footer .copyright {
	text-align: right;
}
@media all and (max-width: 1024px) {
	.container {
		width: 95%;
		padding: 15px;
	}
	.content {
		width: 80%;
	}
	.nav {
		width: 15%;
		font-size: 14px;
	}
	h1 {
		font-size: 56px;
		padding: 35px;
	}
}
@media all and (max-width: 767px) {
	h1 {
		font-size: 40px;
		padding: 35px 35px 0 25px;
	}
	.container {
		width: 100%;
	}
	.content {
		width: 100%;
		margin: 0 auto;
		float: none;
		display: block;
	}
	.nav {
		width: 100%;
		text-align: center;
		padding-bottom: 50px;
		float: none;
	}
	.nav li {
		display: inline-block;
		padding-right: 10px;
	}
	h2 {
		display: none;
	}
	h2.posts {
		padding: 0 0 10px 10px;
	}
	h3 {
		font-size: 17px;
	}
	p, li {
		font-size: 16px;
		line-height: 1.6;
	}
	.blog-post {
		border: 10px solid #fffaf0;
	}
	.footer {
		padding: 50px 0 0 0;
	}
	.nav li .active {
		color: #D100D0;
	}

}
@media all and (max-width: 375px) {
	h1 {
		font-size: 32px;
	}
	p, li, h3 {
		font-size: 14px;
	}
	.blog-post ul li {
		padding-left: 20px;
	}
	.important {
		font-size: 17px;
	}
}
@media all and (max-width: 320px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 14px;
	}
	p, li, h3 {
		font-size: 12px;
	}
	.container {
		padding: 10px;
	}
	.blog-post ul li {
		line-height: 1.6;
		padding-left: 17px;
	}
	h2.posts {
		padding: 0 0 10px 8px;
	}
}